In [2]:
import pandas as pd

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\subha\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\subha\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
df=pd.read_excel('Customer Call List.xlsx')

In [5]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [6]:
df.shape

(21, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [8]:
type(df.Address[0])

str

In [8]:
df.iloc[0].Address

'123 Shire Lane, Shire'

In [9]:
df.loc[0,"Address"]

'123 Shire Lane, Shire'

In [10]:
df['Full_Name']=df['First_Name']+' '+df['Last_Name']

In [11]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,Frodo Baggins
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,Abed Nadir
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,Walter /White
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Dwight Schrute
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,Jon Snow
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,Ron Swanson
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,Jeff Winger
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,Sherlock Holmes
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,Peter Parker
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,Samwise Gamgee
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,Harry ...Potter
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,Don Draper
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,Leslie Knope
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,Toby Flenderson_
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,Ron Weasley
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Michael Scott
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,Clark Kent
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,Creed Braton
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker

In [12]:
df['Full_Name'].str.replace('A',' ')

0        Frodo Baggins
1            bed Nadir
2        Walter /White
3       Dwight Schrute
4             Jon Snow
5          Ron Swanson
6        Jeff   Winger
7      Sherlock Holmes
8                  NaN
9         Peter Parker
10      Samwise Gamgee
11     Harry ...Potter
12          Don Draper
13        Leslie Knope
14    Toby Flenderson_
15         Ron Weasley
16      Michael  Scott
17          Clark Kent
18        Creed Braton
19     nakin Skywalker
20     nakin Skywalker
Name: Full_Name, dtype: object

In [13]:
df.drop_duplicates()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,Frodo Baggins
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,Abed Nadir
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,Walter /White
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Dwight Schrute
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True,Jon Snow
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,Ron Swanson
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,Jeff Winger
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,Sherlock Holmes
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,Peter Parker
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,Samwise Gamgee
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,Harry ...Potter
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,Don Draper
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,Leslie Knope
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,Toby Flenderson_
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,Ron Weasley
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Michael Scott
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,Clark Kent
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,Creed Braton
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker

In [11]:
df['Full_Name']=df['First_Name']+' '+df['Last_Name']
for i in df.index:
    if df.iloc[i].Full_Name == 'Jon Snow':
        df.drop(i,inplace=True)

IndexError: single positional indexer is out-of-bounds

In [12]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,Frodo Baggins
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,Abed Nadir
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,Walter /White
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Dwight Schrute
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,Ron Swanson
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,Jeff Winger
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,Sherlock Holmes
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,Peter Parker
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,Samwise Gamgee
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,Harry ...Potter
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,Don Draper
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,Leslie Knope
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,Toby Flenderson_
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,Ron Weasley
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Michael Scott
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,Clark Kent
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,Creed Braton
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker

In [ ]:
# df['Last_Name']=df['Last_Name'].str.lstrip('...')
# df['Last_Name']=df['Last_Name'].str.rstrip()
df['Last_Name']=df['Last_Name'].str.strip("123._/")

In [ ]:
df

In [ ]:
df.dropna()

df['Phone_Number']=df['Phone_Number'].str.strip("123._/")

df

In [15]:
df['Address']

0                     123 Shire Lane, Shire
1                       93 West Main Street
2                        298 Drugs Driveway
3     980 Paper Avenue, Pennsylvania, 18503
5                          768 City Parkway
6                         1209 South Street
7                             98 Clue Drive
8                          123 Middle Earth
9                25th Main Street, New York
10                    612 Shire Lane, Shire
11                     2394 Hogwarts Avenue
12                         2039 Main Street
13                         343 City Parkway
14                            214 HR Avenue
15                     2395 Hogwarts Avenue
16           121 Paper Avenue, Pennsylvania
17                          3498 Super Lane
18                                      N/a
19              910 Tatooine Road, Tatooine
20              910 Tatooine Road, Tatooine
Name: Address, dtype: object

In [16]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,Frodo Baggins
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,Abed Nadir
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True,Walter /White
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Dwight Schrute
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,Ron Swanson
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,Jeff Winger
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,Sherlock Holmes
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,Peter Parker
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,Samwise Gamgee
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,Harry ...Potter
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,Don Draper
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,Leslie Knope
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,Toby Flenderson_
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,Ron Weasley
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Michael Scott
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True,Clark Kent
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,Creed Braton
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker

In [17]:
df.fillna('')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,Frodo Baggins
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,Abed Nadir
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,,True,Walter /White
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Dwight Schrute
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,Ron Swanson
6,1007,Jeff,Winger,,1209 South Street,No,No,False,Jeff Winger
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False,Sherlock Holmes
8,1009,Gandalf,,N/a,123 Middle Earth,Yes,,False,
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,Peter Parker
10,1011,Samwise,Gamgee,,"612 Shire Lane, Shire",Yes,No,True,Samwise Gamgee
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,,True,Harry ...Potter
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False,Don Draper
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False,Leslie Knope
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False,Toby Flenderson_
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,Ron Weasley
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Michael Scott
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,,True,Clark Kent
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,Creed Braton
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker

In [18]:
df['Phone_Number']=df['Phone_Number'].str.replace("-","")
df['Phone_Number']=df['Phone_Number'].str.replace("|","")

In [19]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True,Frodo Baggins
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,Abed Nadir
2,1003,Walter,/White,NaN,298 Drugs Driveway,N,NaN,True,Walter /White
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Dwight Schrute
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True,Ron Swanson
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,Jeff Winger
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False,Sherlock Holmes
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True,Peter Parker
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,Samwise Gamgee
11,1012,Harry,...Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True,Harry ...Potter
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False,Don Draper
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False,Leslie Knope
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,No,False,Toby Flenderson_
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False,Ron Weasley
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Michael Scott
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True,Clark Kent
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,Creed Braton
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker
20,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker

In [20]:
df.drop_duplicates(inplace=True)

In [21]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True,Frodo Baggins
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,Abed Nadir
2,1003,Walter,/White,NaN,298 Drugs Driveway,N,NaN,True,Walter /White
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Dwight Schrute
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True,Ron Swanson
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False,Jeff Winger
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False,Sherlock Holmes
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True,Peter Parker
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,Samwise Gamgee
11,1012,Harry,...Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True,Harry ...Potter
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False,Don Draper
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False,Leslie Knope
14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,No,False,Toby Flenderson_
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False,Ron Weasley
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Michael Scott
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True,Clark Kent
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,Creed Braton
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True,Anakin Skywalker

In [96]:
df["Address"]=df["Address"].str.split(',')

In [97]:
df.shape

(13, 15)

In [98]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name,adress,first,Last,Street Name,State,Zip Code
0,1001,Frodo,Baggins,1235455421,"[1 , , 2 , , 3 , , , , S , ...",Yes,No,True,Frodo Baggins,123 Shire Lane Shire,123,Shire Lane Shire,1,,"2 , , 3 , , , , S , , h , , i , ..."
1,1002,Abed,Nadir,123/643/9775,"[9 , , 3 , , , , W , , e , ...",No,Yes,False,Abed Nadir,93 West Main Street,93,West Main Street,9,,"3 , , , , W , , e , , s , , t , ..."
2,1004,Dwight,Schrute,1235432345,"[9 , , 8 , , 0 , , , , P , ...",Yes,Y,True,Dwight Schrute,980 Paper Avenue Pennsylvania 18503,980,Paper Avenue Pennsylvania 18503,9,,"8 , , 0 , , , , P , , a , , p , ..."
3,1006,Ron,Swanson,3047622467,"[7 , , 6 , , 8 , , , , C , ...",Yes,Yes,True,Ron Swanson,768 City Parkway,768,City Parkway,7,,"6 , , 8 , , , , C , , i , , t , ..."
4,1008,Sherlock,Holmes,8766783469,"[9 , , 8 , , , , C , , l , ...",N,No,False,Sherlock Holmes,98 Clue Drive,98,Clue Drive,9,,"8 , , , , C , , l , , u , , e , ..."
5,1010,Peter,Parker,1235455421,"[2 , , 5 , , t , , h , , , ...",Yes,No,True,Peter Parker,25th Main Street New York,25th,Main Street New York,2,,"5 , , t , , h , , , , M , , a , ..."
6,1013,Don,Draper,1235432345,"[2 , , 0 , , 3 , , 9 , , , ...",Yes,N,False,Don Draper,2039 Main Street,2039,Main Street,2,,"0 , , 3 , , 9 , , , , M , , a , ..."
7,1014,Leslie,Knope,8766783469,"[3 , , 4 , , 3 , , , , C , ...",Yes,No,False,Leslie Knope,343 City Parkway,343,City Parkway,3,,"4 , , 3 , , , , C , , i , , t , ..."
8,1015,Toby,Flenderson_,3047622467,"[2 , , 1 , , 4 , , , , H , ...",N,No,False,Toby Flenderson_,214 HR Avenue,214,HR Avenue,2,,"1 , , 4 , , , , H , , R , , , ..."
9,1016,Ron,Weasley,1235455421,"[2 , , 3 , , 9 , , 5 , , , ...",No,N,False,Ron Weasley,2395 Hogwarts Avenue,2395,Hogwarts Avenue,2,,"3 , , 9 , , 5 , , , , H , , o , ..."
10,1017,Michael,Scott,123/643/9775,"[1 , , 2 , , 1 , , , , P , ...",Yes,No,False,Michael Scott,121 Paper Avenue Pennsylvania,121,Paper Avenue Pennsylvania,1,,"2 , , 1 , , , , P , , a , , p , ..."
11,1019,Creed,Braton,N/a,"[N , , / , , a]",N/a,Yes,True,Creed Braton,N/a,N/a,None,N,,"/ , , a"
12,1020,Anakin,Skywalker,8766783469,"[9 , , 1 , , 0 , , , , T , ...",Yes,N,True,Anakin Skywalker,910 Tatooine Road Tatooine,910,Tatooine Road Tatooine,9,,"1 , , 0 , , , , T , , a , , t , ..."

In [99]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name,adress,first,Last,Street Name,State,Zip Code
0,1001,Frodo,Baggins,1235455421,"[1 , , 2 , , 3 , , , , S , ...",Yes,No,True,Frodo Baggins,123 Shire Lane Shire,123,Shire Lane Shire,1,,"2 , , 3 , , , , S , , h , , i , ..."
1,1002,Abed,Nadir,123/643/9775,"[9 , , 3 , , , , W , , e , ...",No,Yes,False,Abed Nadir,93 West Main Street,93,West Main Street,9,,"3 , , , , W , , e , , s , , t , ..."
2,1004,Dwight,Schrute,1235432345,"[9 , , 8 , , 0 , , , , P , ...",Yes,Y,True,Dwight Schrute,980 Paper Avenue Pennsylvania 18503,980,Paper Avenue Pennsylvania 18503,9,,"8 , , 0 , , , , P , , a , , p , ..."
3,1006,Ron,Swanson,3047622467,"[7 , , 6 , , 8 , , , , C , ...",Yes,Yes,True,Ron Swanson,768 City Parkway,768,City Parkway,7,,"6 , , 8 , , , , C , , i , , t , ..."
4,1008,Sherlock,Holmes,8766783469,"[9 , , 8 , , , , C , , l , ...",N,No,False,Sherlock Holmes,98 Clue Drive,98,Clue Drive,9,,"8 , , , , C , , l , , u , , e , ..."
5,1010,Peter,Parker,1235455421,"[2 , , 5 , , t , , h , , , ...",Yes,No,True,Peter Parker,25th Main Street New York,25th,Main Street New York,2,,"5 , , t , , h , , , , M , , a , ..."
6,1013,Don,Draper,1235432345,"[2 , , 0 , , 3 , , 9 , , , ...",Yes,N,False,Don Draper,2039 Main Street,2039,Main Street,2,,"0 , , 3 , , 9 , , , , M , , a , ..."
7,1014,Leslie,Knope,8766783469,"[3 , , 4 , , 3 , , , , C , ...",Yes,No,False,Leslie Knope,343 City Parkway,343,City Parkway,3,,"4 , , 3 , , , , C , , i , , t , ..."
8,1015,Toby,Flenderson_,3047622467,"[2 , , 1 , , 4 , , , , H , ...",N,No,False,Toby Flenderson_,214 HR Avenue,214,HR Avenue,2,,"1 , , 4 , , , , H , , R , , , ..."
9,1016,Ron,Weasley,1235455421,"[2 , , 3 , , 9 , , 5 , , , ...",No,N,False,Ron Weasley,2395 Hogwarts Avenue,2395,Hogwarts Avenue,2,,"3 , , 9 , , 5 , , , , H , , o , ..."
10,1017,Michael,Scott,123/643/9775,"[1 , , 2 , , 1 , , , , P , ...",Yes,No,False,Michael Scott,121 Paper Avenue Pennsylvania,121,Paper Avenue Pennsylvania,1,,"2 , , 1 , , , , P , , a , , p , ..."
11,1019,Creed,Braton,N/a,"[N , , / , , a]",N/a,Yes,True,Creed Braton,N/a,N/a,None,N,,"/ , , a"
12,1020,Anakin,Skywalker,8766783469,"[9 , , 1 , , 0 , , , , T , ...",Yes,N,True,Anakin Skywalker,910 Tatooine Road Tatooine,910,Tatooine Road Tatooine,9,,"1 , , 0 , , , , T , , a , , t , ..."

In [72]:
df.shape

(13, 16)

In [73]:
df.reset_index(drop=True)

,index,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name,adress,first,Last,Street Name,State,Zip Code
0,0,1001,Frodo,Baggins,1235455421,123 Shire Lane Shire,Yes,No,True,Frodo Baggins,123 Shire Lane Shire,123,Shire Lane Shire,123,Shire,Lane Shire
1,1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False,Abed Nadir,93 West Main Street,93,West Main Street,93,West,Main Street
2,3,1004,Dwight,Schrute,1235432345,980 Paper Avenue Pennsylvania 18503,Yes,Y,True,Dwight Schrute,980 Paper Avenue Pennsylvania 18503,980,Paper Avenue Pennsylvania 18503,980,Paper,Avenue Pennsylvania 18503
3,5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True,Ron Swanson,768 City Parkway,768,City Parkway,768,City,Parkway
4,7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False,Sherlock Holmes,98 Clue Drive,98,Clue Drive,98,Clue,Drive
5,9,1010,Peter,Parker,1235455421,25th Main Street New York,Yes,No,True,Peter Parker,25th Main Street New York,25th,Main Street New York,25th,Main,Street New York
6,12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False,Don Draper,2039 Main Street,2039,Main Street,2039,Main,Street
7,13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False,Leslie Knope,343 City Parkway,343,City Parkway,343,City,Parkway
8,14,1015,Toby,Flenderson_,3047622467,214 HR Avenue,N,No,False,Toby Flenderson_,214 HR Avenue,214,HR Avenue,214,HR,Avenue
9,15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False,Ron Weasley,2395 Hogwarts Avenue,2395,Hogwarts Avenue,2395,Hogwarts,Avenue
10,16,1017,Michael,Scott,123/643/9775,121 Paper Avenue Pennsylvania,Yes,No,False,Michael Scott,121 Paper Avenue Pennsylvania,121,Paper Avenue Pennsylvania,121,Paper,Avenue Pennsylvania
11,18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True,Creed Braton,N/a,N/a,None,N/a,None,None
12,19,1020,Anakin,Skywalker,8766783469,910 Tatooine Road Tatooine,Yes,N,True,Anakin Skywalker,910 Tatooine Road Tatooine,910,Tatooine Road Tatooine,910,Tatooine,Road Tatooine

In [74]:
import ast

In [90]:
def pass1(obj):
    return " ".join(obj)
df["Address"]=df["Address"].apply(pass1)

In [91]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name,adress,first,Last,Street Name,State,Zip Code
0,1001,Frodo,Baggins,1235455421,"1 , , 2 , , 3 , , , , S , , h , ...",Yes,No,True,Frodo Baggins,123 Shire Lane Shire,123,Shire Lane Shire,1,,"2, ,3, , , ,S, ,h, ,i, ,r, ,e, , , ,L, ,a, ,n,..."
1,1002,Abed,Nadir,123/643/9775,"9 , , 3 , , , , W , , e , , s , ...",No,Yes,False,Abed Nadir,93 West Main Street,93,West Main Street,9,,"3, , , ,W, ,e, ,s, ,t, , , ,M, ,a, ,i, ,n, , ,..."
2,1004,Dwight,Schrute,1235432345,"9 , , 8 , , 0 , , , , P , , a , ...",Yes,Y,True,Dwight Schrute,980 Paper Avenue Pennsylvania 18503,980,Paper Avenue Pennsylvania 18503,9,,"8, ,0, , , ,P, ,a, ,p, ,e, ,r, , , ,A, ,v, ,e,..."
3,1006,Ron,Swanson,3047622467,"7 , , 6 , , 8 , , , , C , , i , ...",Yes,Yes,True,Ron Swanson,768 City Parkway,768,City Parkway,7,,"6, ,8, , , ,C, ,i, ,t, ,y, , , ,P, ,a, ,r, ,k,..."
4,1008,Sherlock,Holmes,8766783469,"9 , , 8 , , , , C , , l , , u , ...",N,No,False,Sherlock Holmes,98 Clue Drive,98,Clue Drive,9,,"8, , , ,C, ,l, ,u, ,e, , , ,D, ,r, ,i, ,v, ,e"
5,1010,Peter,Parker,1235455421,"2 , , 5 , , t , , h , , , , M , ...",Yes,No,True,Peter Parker,25th Main Street New York,25th,Main Street New York,2,,"5, ,t, ,h, , , ,M, ,a, ,i, ,n, , , ,S, ,t, ,r,..."
6,1013,Don,Draper,1235432345,"2 , , 0 , , 3 , , 9 , , , , M , ...",Yes,N,False,Don Draper,2039 Main Street,2039,Main Street,2,,"0, ,3, ,9, , , ,M, ,a, ,i, ,n, , , ,S, ,t, ,r,..."
7,1014,Leslie,Knope,8766783469,"3 , , 4 , , 3 , , , , C , , i , ...",Yes,No,False,Leslie Knope,343 City Parkway,343,City Parkway,3,,"4, ,3, , , ,C, ,i, ,t, ,y, , , ,P, ,a, ,r, ,k,..."
8,1015,Toby,Flenderson_,3047622467,"2 , , 1 , , 4 , , , , H , , R , ...",N,No,False,Toby Flenderson_,214 HR Avenue,214,HR Avenue,2,,"1, ,4, , , ,H, ,R, , , ,A, ,v, ,e, ,n, ,u, ,e"
9,1016,Ron,Weasley,1235455421,"2 , , 3 , , 9 , , 5 , , , , H , ...",No,N,False,Ron Weasley,2395 Hogwarts Avenue,2395,Hogwarts Avenue,2,,"3, ,9, ,5, , , ,H, ,o, ,g, ,w, ,a, ,r, ,t, ,s,..."
10,1017,Michael,Scott,123/643/9775,"1 , , 2 , , 1 , , , , P , , a , ...",Yes,No,False,Michael Scott,121 Paper Avenue Pennsylvania,121,Paper Avenue Pennsylvania,1,,"2, ,1, , , ,P, ,a, ,p, ,e, ,r, , , ,A, ,v, ,e,..."
11,1019,Creed,Braton,N/a,"N , , / , , a",N/a,Yes,True,Creed Braton,N/a,N/a,None,N,,"/, ,a"
12,1020,Anakin,Skywalker,8766783469,"9 , , 1 , , 0 , , , , T , , a , ...",Yes,N,True,Anakin Skywalker,910 Tatooine Road Tatooine,910,Tatooine Road Tatooine,9,,"1, ,0, , , ,T, ,a, ,t, ,o, ,o, ,i, ,n, ,e, , ,..."

In [125]:
df.Address.str.split(',',n=2,expand=True)

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
6  NaN
7  NaN
8  NaN
9  NaN
10 NaN
11 NaN
12 NaN

In [95]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name,adress,first,Last,Street Name,State,Zip Code
0,1001,Frodo,Baggins,1235455421,"1 , , 2 , , 3 , , , , S , , h , ...",Yes,No,True,Frodo Baggins,123 Shire Lane Shire,123,Shire Lane Shire,1,,"2 , , 3 , , , , S , , h , , i , ..."
1,1002,Abed,Nadir,123/643/9775,"9 , , 3 , , , , W , , e , , s , ...",No,Yes,False,Abed Nadir,93 West Main Street,93,West Main Street,9,,"3 , , , , W , , e , , s , , t , ..."
2,1004,Dwight,Schrute,1235432345,"9 , , 8 , , 0 , , , , P , , a , ...",Yes,Y,True,Dwight Schrute,980 Paper Avenue Pennsylvania 18503,980,Paper Avenue Pennsylvania 18503,9,,"8 , , 0 , , , , P , , a , , p , ..."
3,1006,Ron,Swanson,3047622467,"7 , , 6 , , 8 , , , , C , , i , ...",Yes,Yes,True,Ron Swanson,768 City Parkway,768,City Parkway,7,,"6 , , 8 , , , , C , , i , , t , ..."
4,1008,Sherlock,Holmes,8766783469,"9 , , 8 , , , , C , , l , , u , ...",N,No,False,Sherlock Holmes,98 Clue Drive,98,Clue Drive,9,,"8 , , , , C , , l , , u , , e , ..."
5,1010,Peter,Parker,1235455421,"2 , , 5 , , t , , h , , , , M , ...",Yes,No,True,Peter Parker,25th Main Street New York,25th,Main Street New York,2,,"5 , , t , , h , , , , M , , a , ..."
6,1013,Don,Draper,1235432345,"2 , , 0 , , 3 , , 9 , , , , M , ...",Yes,N,False,Don Draper,2039 Main Street,2039,Main Street,2,,"0 , , 3 , , 9 , , , , M , , a , ..."
7,1014,Leslie,Knope,8766783469,"3 , , 4 , , 3 , , , , C , , i , ...",Yes,No,False,Leslie Knope,343 City Parkway,343,City Parkway,3,,"4 , , 3 , , , , C , , i , , t , ..."
8,1015,Toby,Flenderson_,3047622467,"2 , , 1 , , 4 , , , , H , , R , ...",N,No,False,Toby Flenderson_,214 HR Avenue,214,HR Avenue,2,,"1 , , 4 , , , , H , , R , , , ..."
9,1016,Ron,Weasley,1235455421,"2 , , 3 , , 9 , , 5 , , , , H , ...",No,N,False,Ron Weasley,2395 Hogwarts Avenue,2395,Hogwarts Avenue,2,,"3 , , 9 , , 5 , , , , H , , o , ..."
10,1017,Michael,Scott,123/643/9775,"1 , , 2 , , 1 , , , , P , , a , ...",Yes,No,False,Michael Scott,121 Paper Avenue Pennsylvania,121,Paper Avenue Pennsylvania,1,,"2 , , 1 , , , , P , , a , , p , ..."
11,1019,Creed,Braton,N/a,"N , , / , , a",N/a,Yes,True,Creed Braton,N/a,N/a,None,N,,"/ , , a"
12,1020,Anakin,Skywalker,8766783469,"9 , , 1 , , 0 , , , , T , , a , ...",Yes,N,True,Anakin Skywalker,910 Tatooine Road Tatooine,910,Tatooine Road Tatooine,9,,"1 , , 0 , , , , T , , a , , t , ..."

In [79]:
df.reset_index(drop=True)

,index,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name,adress,first,Last,Street Name,State,Zip Code
0,0,1001,Frodo,Baggins,1235455421,1 2 3 S h i r e L a n e S h i r e,Yes,No,True,Frodo Baggins,123 Shire Lane Shire,123,Shire Lane Shire,1,2,3 S h i r e L a n e S h i r e
1,1,1002,Abed,Nadir,123/643/9775,9 3 W e s t M a i n S t r e e t,No,Yes,False,Abed Nadir,93 West Main Street,93,West Main Street,9,3,W e s t M a i n S t r e e t
2,3,1004,Dwight,Schrute,1235432345,9 8 0 P a p e r A v e n u e P e n n s ...,Yes,Y,True,Dwight Schrute,980 Paper Avenue Pennsylvania 18503,980,Paper Avenue Pennsylvania 18503,9,8,0 P a p e r A v e n u e P e n n s y l ...
3,5,1006,Ron,Swanson,3047622467,7 6 8 C i t y P a r k w a y,Yes,Yes,True,Ron Swanson,768 City Parkway,768,City Parkway,7,6,8 C i t y P a r k w a y
4,7,1008,Sherlock,Holmes,8766783469,9 8 C l u e D r i v e,N,No,False,Sherlock Holmes,98 Clue Drive,98,Clue Drive,9,8,C l u e D r i v e
5,9,1010,Peter,Parker,1235455421,2 5 t h M a i n S t r e e t N e w Y ...,Yes,No,True,Peter Parker,25th Main Street New York,25th,Main Street New York,2,5,t h M a i n S t r e e t N e w Y o r k
6,12,1013,Don,Draper,1235432345,2 0 3 9 M a i n S t r e e t,Yes,N,False,Don Draper,2039 Main Street,2039,Main Street,2,0,3 9 M a i n S t r e e t
7,13,1014,Leslie,Knope,8766783469,3 4 3 C i t y P a r k w a y,Yes,No,False,Leslie Knope,343 City Parkway,343,City Parkway,3,4,3 C i t y P a r k w a y
8,14,1015,Toby,Flenderson_,3047622467,2 1 4 H R A v e n u e,N,No,False,Toby Flenderson_,214 HR Avenue,214,HR Avenue,2,1,4 H R A v e n u e
9,15,1016,Ron,Weasley,1235455421,2 3 9 5 H o g w a r t s A v e n u e,No,N,False,Ron Weasley,2395 Hogwarts Avenue,2395,Hogwarts Avenue,2,3,9 5 H o g w a r t s A v e n u e
10,16,1017,Michael,Scott,123/643/9775,1 2 1 P a p e r A v e n u e P e n n s ...,Yes,No,False,Michael Scott,121 Paper Avenue Pennsylvania,121,Paper Avenue Pennsylvania,1,2,1 P a p e r A v e n u e P e n n s y l ...
11,18,1019,Creed,Braton,N/a,N / a,N/a,Yes,True,Creed Braton,N/a,N/a,None,N,/,a
12,19,1020,Anakin,Skywalker,8766783469,9 1 0 T a t o o i n e R o a d T a t o ...,Yes,N,True,Anakin Skywalker,910 Tatooine Road Tatooine,910,Tatooine Road Tatooine,9,1,0 T a t o o i n e R o a d T a t o o i n e

In [81]:
df=df.drop(columns="index")

In [82]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name,adress,first,Last,Street Name,State,Zip Code
0,1001,Frodo,Baggins,1235455421,1 2 3 S h i r e L a n e S h i r e,Yes,No,True,Frodo Baggins,123 Shire Lane Shire,123,Shire Lane Shire,1,2,3 S h i r e L a n e S h i r e
1,1002,Abed,Nadir,123/643/9775,9 3 W e s t M a i n S t r e e t,No,Yes,False,Abed Nadir,93 West Main Street,93,West Main Street,9,3,W e s t M a i n S t r e e t
2,1004,Dwight,Schrute,1235432345,9 8 0 P a p e r A v e n u e P e n n s ...,Yes,Y,True,Dwight Schrute,980 Paper Avenue Pennsylvania 18503,980,Paper Avenue Pennsylvania 18503,9,8,0 P a p e r A v e n u e P e n n s y l ...
3,1006,Ron,Swanson,3047622467,7 6 8 C i t y P a r k w a y,Yes,Yes,True,Ron Swanson,768 City Parkway,768,City Parkway,7,6,8 C i t y P a r k w a y
4,1008,Sherlock,Holmes,8766783469,9 8 C l u e D r i v e,N,No,False,Sherlock Holmes,98 Clue Drive,98,Clue Drive,9,8,C l u e D r i v e
5,1010,Peter,Parker,1235455421,2 5 t h M a i n S t r e e t N e w Y ...,Yes,No,True,Peter Parker,25th Main Street New York,25th,Main Street New York,2,5,t h M a i n S t r e e t N e w Y o r k
6,1013,Don,Draper,1235432345,2 0 3 9 M a i n S t r e e t,Yes,N,False,Don Draper,2039 Main Street,2039,Main Street,2,0,3 9 M a i n S t r e e t
7,1014,Leslie,Knope,8766783469,3 4 3 C i t y P a r k w a y,Yes,No,False,Leslie Knope,343 City Parkway,343,City Parkway,3,4,3 C i t y P a r k w a y
8,1015,Toby,Flenderson_,3047622467,2 1 4 H R A v e n u e,N,No,False,Toby Flenderson_,214 HR Avenue,214,HR Avenue,2,1,4 H R A v e n u e
9,1016,Ron,Weasley,1235455421,2 3 9 5 H o g w a r t s A v e n u e,No,N,False,Ron Weasley,2395 Hogwarts Avenue,2395,Hogwarts Avenue,2,3,9 5 H o g w a r t s A v e n u e
10,1017,Michael,Scott,123/643/9775,1 2 1 P a p e r A v e n u e P e n n s ...,Yes,No,False,Michael Scott,121 Paper Avenue Pennsylvania,121,Paper Avenue Pennsylvania,1,2,1 P a p e r A v e n u e P e n n s y l ...
11,1019,Creed,Braton,N/a,N / a,N/a,Yes,True,Creed Braton,N/a,N/a,None,N,/,a
12,1020,Anakin,Skywalker,8766783469,9 1 0 T a t o o i n e R o a d T a t o ...,Yes,N,True,Anakin Skywalker,910 Tatooine Road Tatooine,910,Tatooine Road Tatooine,9,1,0 T a t o o i n e R o a d T a t o o i n e

In [111]:
df.drop(columns=["first","Last","adress","First_Name","Last_Name"],inplace=True)

In [112]:
df["Phone_Number"]=df['Phone_Number'].str.replace("N/a"," ")

In [113]:
df

,CustomerID,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Full_Name,Street Name,State,Zip Code
0,1001,1235455421,"[1 , , 2 , , 3 , , , , S , ...",Yes,No,True,Frodo Baggins,1,,"2 , , 3 , , , , S , , h , , i , ..."
1,1002,123/643/9775,"[9 , , 3 , , , , W , , e , ...",No,Yes,False,Abed Nadir,9,,"3 , , , , W , , e , , s , , t , ..."
2,1004,1235432345,"[9 , , 8 , , 0 , , , , P , ...",Yes,Y,True,Dwight Schrute,9,,"8 , , 0 , , , , P , , a , , p , ..."
3,1006,3047622467,"[7 , , 6 , , 8 , , , , C , ...",Yes,Yes,True,Ron Swanson,7,,"6 , , 8 , , , , C , , i , , t , ..."
4,1008,8766783469,"[9 , , 8 , , , , C , , l , ...",N,No,False,Sherlock Holmes,9,,"8 , , , , C , , l , , u , , e , ..."
5,1010,1235455421,"[2 , , 5 , , t , , h , , , ...",Yes,No,True,Peter Parker,2,,"5 , , t , , h , , , , M , , a , ..."
6,1013,1235432345,"[2 , , 0 , , 3 , , 9 , , , ...",Yes,N,False,Don Draper,2,,"0 , , 3 , , 9 , , , , M , , a , ..."
7,1014,8766783469,"[3 , , 4 , , 3 , , , , C , ...",Yes,No,False,Leslie Knope,3,,"4 , , 3 , , , , C , , i , , t , ..."
8,1015,3047622467,"[2 , , 1 , , 4 , , , , H , ...",N,No,False,Toby Flenderson_,2,,"1 , , 4 , , , , H , , R , , , ..."
9,1016,1235455421,"[2 , , 3 , , 9 , , 5 , , , ...",No,N,False,Ron Weasley,2,,"3 , , 9 , , 5 , , , , H , , o , ..."
10,1017,123/643/9775,"[1 , , 2 , , 1 , , , , P , ...",Yes,No,False,Michael Scott,1,,"2 , , 1 , , , , P , , a , , p , ..."
11,1019,,"[N , , / , , a]",N/a,Yes,True,Creed Braton,N,,"/ , , a"
12,1020,8766783469,"[9 , , 1 , , 0 , , , , T , ...",Yes,N,True,Anakin Skywalker,9,,"1 , , 0 , , , , T , , a , , t , ..."